body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2325px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:710px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2000px;
  top:1215px;
  width:325px;
  height:710px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:553px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2020px;
  top:1284px;
  width:286px;
  height:553px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2155px;
  top:1239px;
  width:57px;
  height:8px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2132px;
  top:1236px;
  width:13px;
  height:15px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2115px;
  top:1236px;
  width:13px;
  height:15px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2232px;
  top:1236px;
  width:13px;
  height:15px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2123px;
  top:1866px;
  width:80px;
  height:30px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2132px;
  top:1772px;
  width:145px;
  height:40px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2050px;
  top:1566px;
  width:78px;
  height:24px;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:1323px;
  width:170px;
  height:170px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:108px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2105px;
  top:1359px;
  width:107px;
  height:108px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2128px;
  top:1566px;
  width:140px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1668px;
  top:1752px;
  width:300px;
  height:80px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2141px;
  top:1627px;
  width:100px;
  height:24px;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u73_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2141px;
  top:1661px;
  width:100px;
  height:24px;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u74_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2050px;
  top:1600px;
  width:78px;
  height:24px;
  font-family:'Agency FB Bold', 'Agency FB Regular', 'Agency FB';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
